<?xml version="1.0" encoding="UTF-8"?>

<web-app  version="3.0" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" >
   
    <servlet>
        <servlet-name>AddQ</servlet-name>
        <servlet-class>AddQ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddQ</servlet-name>
        <url-pattern>/addq</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>AttendQuiz</servlet-name>
        <servlet-class>AttendQuiz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttendQuiz</servlet-name>
        <url-pattern>/atq</url-pattern>
    </servlet-mapping>
         <servlet>
        <servlet-name>Answer</servlet-name>
        <servlet-class>Ans</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Answer</servlet-name>
        <url-pattern>/answ</url-pattern>
    </servlet-mapping>

    
</web-app>